.MuiInputLabel-root,
.MuiFormLabel-root.MuiInputLabel-root,
.MuiFormLabel-root.MuiInputLabel-root.Mui-focused, 
.MuiInput-underline:after {
    color: white;
}

.MuiInputBase-root.MuiInput-root::before,
.MuiInputBase-root.MuiInput-root:after,
.MuiInputBase-root.MuiInput-root:hover,
.MuiInputBase-input.MuiInput-input,
.MuiInputBase-input.MuiInput-input {
    border-bottom: 2px solid white;
    color: white;
}   

