& label.Mui-focused {
    color: white;
}

& .MuiInput-underline:after {
    border-bottom-color: white;
}

.MuiInputBase-root.MuiInput-root:hover {
    border-bottom: 2px solid white;
    border-top: 0px;
}

.MuiInputBase-root.MuiInput-root::before {
    border-bottom: 2px solid white;
}

.MuiInputBase-root.MuiInput-root:after {
    border-bottom: 2px solid white;
}

& .MuiInputLabel-root {
    color: white;
}
  
& .MuiOutlinedInput-input {
    color: white;
}

& .MuiOutlinedInput-root {
    & fieldset: {
      borderColor: white;
    },
    &:hover fieldset: {
      borderColor: white;
    },
    &.Mui-focused fieldset: {
      borderColor: white;
    }
}

#hello {
    color: red;
}